body{
	background-color: #494C4D;
}

#main{
	width: 75%;
	margin: auto;
	background-color: white;
	padding: 8px;
	box-shadow: -2px 0px 29px 0px rgba(0,0,0,1);	
}

#footer{
	width:100%;
	height: 250px;
	//background-color: red;
	border-radius: 3px;
}

.comic{
	border: 1px solid #E7E5E5;
	border-radius: 1%;
	width: 250px;
	height: 425px;
	padding: 5px;
	margin: 0px 15px 15px 15px;
	display: inline-block;
}

.comic img{
	border-radius: 100%;
	width: 230px;
	height: 240px;
	margin-bottom: 15px;
}

#title{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;	
}

.container{
	
	width: 53%;
	
}

navbar navbar-default{
	margin-top: 15px;
}

body aside{
	width: 22%;
	float: left;
}


.carousel img {
  min-width: 100%;
  height: 100px;
}

#lowerContainer{
	display: inline-block;
}
