body{
	background-color: black;
	height: 50%;
	background-position: center;
	background-attachment: fixed;
}

.main{
	margin:auto;
	width: 30%;
	padding-top: 10%;
}

.main img{
	width:80%; 
	height:80%;
	margin-top: -20px;
    margin-left: 10%;
}
